.body {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 10px !important;
}

.navProfile {
  background-color: black;
  color: white;
  margin: 0%;
  border-radius: 30px;
}

.nav-list {
  background: #1e1e1e;
  color: #ffffff;
  font-size: 15px;
  font-style: italic;
  justify-content: center;
  text-align: center;
  padding: 5px 2px;
  margin: 20px 20px 0 5px;
  border-radius: 5px;
}

li {
  list-style-type: none;
  padding: 10px 0px;
  background-color: #1e1e1e;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-lista:hover {
  background: #ffc100;
  color: black;
  font-size: 18px;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 10px;
}

.nav-lista > i {
  padding-right: 20px;
}

.foto-perfil {
  width: 130px;
  margin-top: 30%;
  max-width: 100%;
  border-radius: 50%;
}

.perfil {
  width: 100px;
  margin: 25%;
  max-width: 100%;
}

.barberInfo {
  padding: 25px;
  background-color: white;
  border-radius: 30px;
}

.welcome {
  font-size: 0.8rem;
}

.barbershop {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.barberLogo {
  width: 100px;
}

.agendamentos {
  background-color: white;
  border-radius: 30px;
}

.tituloAgendamento {
  margin: 10px 0px !important;
  font-size: 1.2rem !important;
}

.date {
  font-size: 0.8rem !important;
}

.professionalSchedule {
  background-color: white;
}

.fotoPerfil {
  width: 100px;
}
.fotoAgendamento {
  width: 50px;
  height: 50px;
}
.detalhe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-agendamento {
  background-color: hsla(050, 100%, 50%, 0.3);
  margin: 25px;
  border-radius: 30px;
}

.btnDeletar {
  background-color: #ffc100;
  width: 100px;
}

.exitButton {
  background-color: black;
  border: none;
  padding-top: 270%;
}

.exitLink {
  color: white;
  align-self: flex-end;
}

.email {
  padding: 10px 0px;
  text-align: center;
}

.cliente {
  padding: 10px 0px;
  text-align: center;
}

/* SCroll-bar Meus agendamentos */
.mostly-customized-scrollbar {
  display: block;
  overflow-y: auto;
  height: 35em;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background-color: #aaa;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #ffc100;
  border-radius: 5px;
}

.buttonDash {
  border: none;
  background: none;
  color: white;
}
