.form-main {
  border: 1px solid #E6E6E6;
  background-color: #fff;
  margin: auto;
  padding: 5% 5%;
  border-radius: 10%;
  height: 90%;
  box-shadow: 80px #000 ;
}

.input-email,
.input-senha,
.input-comfirmar-senha
{
  max-width: 100%;
  margin: 2% 10% 2% 0%;
}

.button-create,
.button-account{
  margin: 1% 25%;
  width: 50%;
}

.button-account > a {
  text-decoration: none;
  color: #000;
}
