.corpo {
     background-color: #ebebeb;
     border-radius:20px;
     box-shadow: 0 0 1em #000000;
     border: none #000000;
     margin: 5% auto !important;
     width: 50%;
     height: 75vh;
}

.ident {
     font-size: 50px;
     padding-right: 100px;
     text-align: right;
}


.space {
     font-size: 20px;
     padding-right: 50px;
     text-align: right;

}

.form-ajust {
     width: 100%;
     justify-content: center;
     align-items: center;     
     margin: 80px auto;
}

 .dados {
     justify-content: center;
     padding-left: 200px;
     padding-bottom: 25px;
} 

.escreva, input {
     width: 450px !important;
     margin: auto 50px;
     
}

.alter {
     display: flex;
     background-color: #000000;
     color: #FFC100;
     justify-content: center;
     width: 500px;
     height: 40px;
     margin: 0;
     padding-top: 7px;
     border-radius: 10px;
     text-decoration: none;
}

.alter:hover {
     display: flex;
     background-color: #FFC100;
     color: #000000;
     justify-content: center;
     width: 500px;
     height: 40px;
     margin: 0;
     padding-top: 7px;
     border-radius: 10px;
     text-decoration: none;
}



.alter {
     display: flex;
     background-color: #000000;
     color: #FFC100;
     justify-content: center;
     width: 425px;
     height: 40px;
     margin: 0;
     padding-top: 7px;
     border-radius: 10px;
     text-decoration: none;
}

.alter:hover {
     display: flex;
     background-color: #FFC100;
     color: #000000;
     justify-content: center;
     width: 425px;
     height: 40px;
     margin: 0;
     padding-top: 7px;
     border-radius: 10px;
     text-decoration: none;
}



