* {
  text-align: center;
}

.body-confirmed {  
  background-image: url(../../Assets/backgrond-pay-confirmed.jpg);
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  
}

.profile {
  width: 100px;
  margin: 25%;
  max-width: 100%;
}


.nav {
  background-color: black;
  color: white;
  margin: 0;
  border-radius: 30px;
}


.profissa {
   font-size: 45px;
}

.service-sched {
  font-size: 20px;
  color: rgb(10, 184, 10);
  margin: 0;
  padding: 0;
}

.sucess {  
  width: 100%;
  margin: 0;
  
}

.sucess-pay {
  flex-wrap: wrap;
  justify-content: center;
  width: 25px;
  margin: -45px 10px 0 225px;
  text-align: center;
}

.confirmed,
.paypal,
input {
  margin: 20px auto !important;
  max-width: 100%;
  width: 50% !important;
}

.perfil-img {
  width: 100px;

  margin: 0 10px;
}
.nome {
  text-align: center;
}

.img-paypal {
  width: 25px;
  margin-right: 5px;
  max-width: 100%;
}

.color-world {
  color: aliceblue;
}

a {
  font-size: 20px;
}

.paypal {
  border-radius: 100px;
}

.prof-contrat {
  display: flex;
  justify-content: center;
  background-color:rgba(0,0,0,0.7);
  border-radius: 20px;
  padding: 5%;
}

.service-type {
  justify-content: center;
  margin-left: 75px;
  text-align: center;
}

.agradecimento {
  margin-top: 10px;
  text-align: center;
}
